[user]
	name = linbing
	email = hawkerous@gmail.com
[core]
	editor = vim
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[alias]
    co = checkout 
    br = branch
    st = status
    unstatus = reset HEAD
    last = log -1 HEAD
[alias]
    logs = log --stat
    #graph = log --graph
[alias]
    format = log --pretty=format:'%h - %an, %ar : %s'
    #oneline = log --pretty=oneline
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[gitreview]
	username = linbing
